
#header-profile-pic{
    padding-top: 0.1em;
    margin-left: 0em;
    width: 95px;
    height: 95px;
}
#header-name{
    padding-left: 0.7em;
    margin-bottom: 0;
    line-height: 1.2em;
}
#header-bio{
    padding-left: 0.8em;
    padding-top: 0;
}
#message-sent-date{
    width: 100%; 
    text-align: center; 
    height: 14px;
    border-bottom: 1px solid rgba(220, 220, 220, 0.589); 
    margin: 0 0 10px; 
}
#msg-date{
    background-color: white; 
    padding:0 10px;
}
#msg-profile-pic{
    margin-top: 0;
    width: 50px;
    height: 50px;
}
#send{
    padding: 0.1em 0.95em;
}
#msg-textarea{
    resize: none;
    border-radius: 0;
    border-top: 2px solid gainsboro;
}
#msg-summary-tab{
    border-bottom: 1px solid gray;
    background-color: white;
}
#msg-history{
    background-color: white;
}
#msg-summary-profile-pic{
    margin-top: 0;
    width: 70px;
    height: 70px;
}
#search-msg-bar{
    background-color: rgb(231, 232, 239);
    border-radius: 0.2em;
    border: none;
}