@font-face {
    font-family: "Helvetica-regular";
    src: url("/COSC310G1/font/Helvetica.ttf");
}
@font-face {
    font-family: "Helvetica-bold";
    src: url("/COSC310G1/font/Helvetica-Bold.ttf");
}
.helv-bold{
    font-family: "Helvetica-bold";
}
.helv-reg{
    font-family: "Helvetica-regular";
}
.fs-5-5{
    font-size: 1.1em;
}
.fs-7{
    font-size: 0.9em;
}
.fs-8{
    font-size: 0.8em;
}
.fs-9{
    font-size: 0.75em;
}
/* 
p.height{
    height: 1.5em;
}
 */
.height{
    height: 1.5em;
}
body{
    background-color: #F3F2EF;
}
div.container-width{
    width: 78%;
}
div.col-margin{
    margin-right: 3%; 
}
div.h-5-5 {
    height: 5.5%;
}
div.h-90{
    height: 92%;
}
div.col-27-5{
    width: 27.5%;
}
div.col-45{
    width: 45%;
}